$color-zero: #faf7e3;
$color-one: #d4c0c0;
$color-two: #8e0505;

$color-three: #6f2814;
$color-four: #dbc8c5;
$color-five: #8e0505;
$color-six: #6f2814;
$color-seven: #2f3a6f;

$error: #e53e3e;
$warning: #dd6b1f;
$info: #3182ce;
$success: #39a169;
