.container-util {
  @media screen and (min-width: 1280px) {
    &-xl-l {
      margin-left: calc((100vw - 1280px) / 2);
    }
    &-xl-r {
      margin-right: calc((100vw - 1280px) / 2);
    }
  }
  @media screen and (min-width: 1024px) {
    &-lg-l {
      margin-left: calc((100vw - 1024px) / 2);
    }
    &-lg-r {
      margin-right: calc((100vw - 1024px) / 2);
    }
  }
  @media screen and (min-width: 768px) {
    &-md-l {
      margin-left: calc((100vw - 768px) / 2);
    }
    &-md-r {
      margin-right: calc((100vw - 768px) / 2);
    }
  }
  @media screen and (min-width: 640px) {
    &-sm-l {
      margin-left: calc((100vw - 640px) / 2);
    }
    &-sm-r {
      margin-right: calc((100vw - 640px) / 2);
    }
  }
}
